.deleteAll_button{
    background-color: red;
    float:right;
    color:white;
    height: 50px;
    width: 150px;
    margin-top:5px    ;
    border-radius :20px;

}
.deleteAll_button:hover, .deleteAll_button:focus{
    -moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}