
.container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width:535px;
    /* position:absolute; */

}
.text_title{
    font-size: 2rem;
    font-weight: bold;  
    color: #000;
    float:left;
}
.sound_button_off{
    font-size: 2rem;
    background-color: white;
    color:red;
    height: 40px;
    width: 40px;    
    /* align-self: center; */
    margin-left: 100px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
}
.sound_button_on{
    font-size: 2rem;
    background-color: red;
    color:white;
    height: 40px;
    width: 40px;    
    /* align-self: center; */
    /* margin-left: 100px; */
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
}

.addGift_button{
    background-color: blue;
    color:white;
    height: 40px;
    width: 100%;    
    /* align-self: center; */
    /* margin-left: 54px; */
    border-radius:10px;
    
}
.sound_button_on:focus, .sound_button_off:focus, .sound_button_on:hover, .sound_button_off:hover, .addGift_button:hover, .addGift_button:focus, .previsualize_button:hover, .previsualize_button:focus{
    -moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}
.total{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 25px;    
}

.previsualize_button{
    background-color: green;
    color:black;
    height: 50px;
    width: 150px;    
    float:right;
    margin-top: 5px;
    border-radius:20px;
    
}